In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# reading in data into df from covid_19_india

df = pd.read_csv("/Users/arsh/MFDS-Project/Term-project-2020/Dataset_Question3/covid_19_india.csv")

In [3]:
# drop Sno column

df = df.drop(["Sno"], axis = 1)

In [4]:
# offset index by 1

df.index += 1

In [5]:
# taking data from only 10/04/20

required_data = df[df['Date'] == '10/04/20']

In [6]:
required_data

,Date,Time,StateOrUnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
802,10/04/20,5:00 PM,Andhra Pradesh,-,-,7,6,363
803,10/04/20,5:00 PM,Andaman and Nicobar Islands,-,-,0,0,11
804,10/04/20,5:00 PM,Arunachal Pradesh,-,-,0,0,1
805,10/04/20,5:00 PM,Assam,-,-,0,0,29
806,10/04/20,5:00 PM,Bihar,-,-,0,1,60
807,10/04/20,5:00 PM,Chandigarh,-,-,7,0,18
808,10/04/20,5:00 PM,Chhattisgarh,-,-,9,0,10
809,10/04/20,5:00 PM,Delhi,-,-,25,13,898
810,10/04/20,5:00 PM,Goa,-,-,1,0,7
811,10/04/20,5:00 PM,Gujarat,-,-,26,17,241
812,10/04/20,5:00 PM,Haryana,-,-,29,3,169
813,10/04/20,5:00 PM,Himachal Pradesh,-,-,6,1,28
814,10/04/20,5:00 PM,Jammu and Kashmir,-,-,6,4,184
815,10/04/20,5:00 PM,Jharkhand,-,-,0,1,13
816,10/04/20,5:00 PM,Karnataka,-,-,30,6,197
817,10/04/20,5:00 PM,Kerala,-,-,96,2,357
818,10/04/20,5:00 PM,Ladakh,-,-,10,0,15
819,10/04/20,5:00 PM,Madhya Pradesh,-,-,0,16,259
820,10/04/20,5:00 PM,Maharashtra,-,-,125,97,1364
821,10/04/20,5:00 PM,Manipur,-,-,1,0,2
822,10/04/20,5:00 PM,Mizoram,-,-,0,0,1
823,10/04/20,5:00 PM,Odisha,-,-,2,1,44
824,10/04/20,5:00 PM,Puducherry,-,-,1,0,5
825,10/04/20,5:00 PM,Punjab,-,-,5,11,132
826,10/04/20,5:00 PM,Rajasthan,-,-,21,3,463
827,10/04/20,5:00 PM,Tamil Nadu,-,-,21,8,834
828,10/04/20,5:00 PM,Telengana,-,-,35,7,473
829,10/04/20,5:00 PM,Tripura,-,-,0,0,1
830,10/04/20,5:00 PM,Uttarakhand,-,-,5,0,35
831,10/04/20,5:00 PM,Uttar Pradesh,-,-,32,4,431
832,10/04/20,5:00 PM,West Bengal,-,-,16,5,116

In [7]:
# taking only data, state and confirmed cases columns

required_data = required_data[['Date', 'StateOrUnionTerritory', 'Confirmed']]

In [8]:
# converting ICMRTestingData to df

testing_df = pd.read_csv("/Users/arsh/MFDS-Project/Term-project-2020/Dataset_Question3/ICMRTestingDetails.csv")

In [9]:
testing_df

,SNo,DateTime,TotalSamplesTested,TotalIndividualsTested,TotalPositiveCases
0,1,13/03/20,6500.0,5900.0,78.0
1,2,18/03/20,13125.0,12235.0,150.0
2,3,19/03/20,14175.0,13285.0,182.0
3,4,20/03/20,15404.0,14514.0,236.0
4,5,21/03/20,16911.0,16021.0,315.0
5,6,22/03/20,18127.0,17237.0,396.0
6,7,23/03/20,20707.0,19817.0,471.0
7,8,24/03/20,22694.0,21804.0,536.0
8,9,25/03/20,25144.0,24254.0,581.0
9,10,26/03/20,NaN,NaN,NaN
10,11,27/03/20,27688.0,NaN,691.0
11,12,28/03/20,NaN,NaN,NaN
12,13,29/03/20,NaN,NaN,NaN
13,14,30/03/20,38442.0,NaN,NaN
14,15,31/03/20,42788.0,NaN,NaN
15,16,01/04/20,47951.0,NaN,1637.0
16,17,02/04/20,55851.0,NaN,2056.0
17,18,03/04/20,69245.0,NaN,2653.0
18,19,04/04/20,79950.0,NaN,3113.0
19,20,05/04/20,89534.0,NaN,3554.0
20,21,06/04/20,101068.0,NaN,4135.0
21,22,07/04/20,114015.0,NaN,4616.0
22,23,08/04/20,127919.0,NaN,5114.0
23,24,09/04/20,144910.0,130792.0,5705.0
24,25,10/04/20,161330.0,147034.0,6872.0
25,26,11/04/20,179374.0,164773.0,7703.0
26,27,12/04/20,195748.0,181028.0,8312.0
27,28,13/04/20,217554.0,202551.0,9341.0
28,29,14/04/20,244893.0,229426.0,10307.0
29,30,15/04/20,274599.0,258730.0,11297.0
30,31,16/04/20,302956.0,286714.0,12581.0
31,32,17/04/20,335123.0,318449.0,14098.0
32,33,18/04/20,372123.0,354969.0,16365.0
33,34,19/04/20,401586.0,383985.0,17615.0
34,35,20/04/20,NaN,NaN,NaN
35,36,21/04/20,462621.0,447812.0,NaN
36,37,22/04/20,500542.0,485172.0,21797.0
37,38,23/04/20,541789.0,525667.0,23502.0
38,39,24/04/20,579957.0,NaN,NaN
39,40,25/04/20,625309.0,NaN,NaN
40,41,26/04/20,665819.0,NaN,NaN
41,42,27/04/20,716733.0,NaN,NaN

In [10]:
cases_till_req_date = testing_df.ix[24, 'TotalPositiveCases']

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [11]:
cases_till_req_date

6872.0

In [12]:
tests_per_day_per_lab = 100
tests_per_ten_days_per_lab = tests_per_day_per_lab*10

In [13]:
rate = 0.1

In [14]:
rate_of_positive_tests = 0.046

In [15]:
number_of_labs = ((cases_till_req_date*((1 + rate)**10) - cases_till_req_date)*(1/rate_of_positive_tests))/tests_per_ten_days_per_lab

In [16]:
number_of_labs = round(number_of_labs)

In [19]:
number_of_labs

238.0

In [17]:
number_of_additional_labs = number_of_labs - (testing_df.ix[24, 'TotalSamplesTested'] - testing_df.ix[23, 'TotalSamplesTested'])/tests_per_day_per_lab

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [20]:
number_of_additional_labs = round(number_of_additional_labs)

In [21]:
number_of_additional_labs

74.0

In [27]:
labs_reqd = pd.DataFrame({'Cases till 10/04/20' : [cases_till_req_date], 'Cases till 20/04/20 at given rate' : [round(cases_till_req_date*((1 + rate)**10))], 'Number of Active Labs on 10/04/2020' : [round((testing_df.ix[24, 'TotalSamplesTested'] - testing_df.ix[23, 'TotalSamplesTested'])/tests_per_day_per_lab)],'Number of Additional Labs Required on 20/04/20' : [number_of_additional_labs]})

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

## Submit

In [28]:
labs_reqd

,Cases till 10/04/20,Cases till 20/04/20 at given rate,Number of Active Labs on 10/04/2020,Number of Additional Labs Required on 20/04/20
0,6872.0,17824.0,164.0,74.0

In [29]:
labs_reqd.to_excel(r'/Users/arsh/MFDS-Project/Q7_data_to_be_submitted.xlsx', index = False)